POSTGRES_PASSWORD=postgres
CD_MIGRATE_PASSWORD=dev_cd_migrate
CD_API_PASSWORD=dev_cd_api
CD_SYSTEM_PASSWORD=dev_cd_system
CD_KERNEL_PASSWORD=dev_cd_kernel

CAKERDESK_ENV=development
CAKERDESK_INTERNAL__TOKEN=dev-internal-token
CAKERDESK_MASTER_KEY=dev-master-key
CAKERDESK_BOOTSTRAP_PASSWORD=change-me
CAKERDESK_LLM__ALIASES=
CAKERDESK_HTTP__SECURE_COOKIE=false
